.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    height: 60px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: #fff;

    .logo {
        display: flex;
        align-items: center;
        height: 100%;
        h1 {
            font-size: 2em;
            font-weight: bold;
            color: #333;
            padding: 0;
        }
        img {
            width: 1.5em;
            height: 1.5em;
            margin: 0 .5em;
        }
    }
}
.content {
    padding: 20px;
    max-width: 1280px;
    margin: 3em auto 0;
}